<!doctype html>
<html th:fragment="layout (template, menu)" lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!--<link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">-->

  <title>Checklist</title>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}" />

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}"><span></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar" style>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:remove="all">

          <li th:fragment="menuItem (link,active,title,glyph,text)" th:class="nav-item">
            <a th:class="${active==menu ? 'nav-link active' : 'nav-link'}" th:href="@{__${link}__}" th:title="${title}">
              <span th:class="'fa fa-'+${glyph}" class="fa fa-home"></span>
              <span th:text="${text}">Template</span>
            </a>
          </li>

        </ul>

        <ul class="nav navbar-nav me-auto">

          <li th:replace="~{::menuItem ('/','home','home page','home','Home')}">
            <span class="fa fa-home" aria-hidden="true"></span>
            <span>Home</span>
          </li>
          <!--
          <li th:replace="~{::menuItem ('/owners/new','owners','new owner','new','New owner')}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>New owner</span>
          </li>
          -->
          <li th:replace="~{::menuItem ('/cases/new','cases','new case','new','New case')}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>New case</span>
          </li>
<!--
          <li th:replace="~{::menuItem ('/owners/find','owners','find owners','search','Search owners')}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>Search owners</span>
          </li>
          -->
          <li th:replace="~{::menuItem ('/cases/find','cases','find cases','search','Search cases')}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>Search cases</span>
          </li>
          <!--<li th:replace="~{::menuItem ('/vets.html','vets','veterinarians','th-list','Veterinarians')}">
            <span class="fa fa-th-list" aria-hidden="true"></span>
            <span>Veterinarians</span>
          </li>-->

          <!--<li
            th:replace="~{::menuItem ('/oups','error','trigger a RuntimeException to see how it is handled','exclamation-triangle','Error')}">
            <span class="fa exclamation-triangle" aria-hidden="true"></span>
            <span>Error</span>
          </li>-->
<!--
          <li th:replace="~{::menuItem ('/login','login','login page','sign-in','Login')}">
            <span class="fa fa-sign-in" aria-hidden="true"></span>
            <span>Login</span>
          </li>
          -->
          <li th:replace="~{::menuItem ('/logout','logout','logout page','sign-out','Logout')}">
            <span class="fa fa-sign-out" aria-hidden="true"></span>
            <span>Logout</span>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="container xd-container">

      <th:block th:insert="${template}" />

      <br />
      <br />
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
