<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">


  <body>
  <style>
    .tooltip2 {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }

    .tooltip2 .tooltiptext {
      visibility: hidden;
      width: 220px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip2 .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    .tooltip2:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  </style>

    <h2 th:text="#{case}">Case</h2>

    <div th:if="${message}" class="alert alert-success" id="success-message">
      <span th:text="${message}"></span>
    </div>

    <div th:if="${error}" class="alert alert-danger" id="error-message">
      <span th:text="${error}"></span>
    </div>




    <table class="table table-striped" th:object="${case}">
      <tr>
        <th th:text="#{number}">ID</th>
        <td><b th:text="*{id}"></b></td>
      </tr>
      <tr>
        <th th:text="#{identificator}">Identificator</th>
        <td><b th:text="*{name}"></b></td>
      </tr>
    </table>
  
    <a th:href="@{__${case.id}__/edit}" class="btn btn-primary" th:text="#{edit}">Edit</a>
    <a th:href="@{__${case.id}__/arguments/new}" class="btn btn-primary" th:text="#{addArgument}">Add argument</a>
    <a th:href="@{/cases/__${case.id}__/export}" download class="btn btn-primary">Export Excel</a>
  <br/>
  <br/>
    <a th:href="@{/reports/__${case.id}__}" class="btn btn-success" th:text="#{computeReport}">Compute Report</a>

    <br />
    <br />
    <h2 th:text="#{arguments}">Arguments</h2>
  
    <table class="table table-striped">
      <tr th:each="arg: ${rootAruments}">
        <td>
        <table class="table table-striped">
          <tr><td th:text="#{predicate}">Predicate</td><td th:text="${arg.predicate}"></td></tr>
          <tr><td></td><td>, <i th:text="#{because}">because</i></td> </tr>
          <tr><td th:text="#{premise}">Premise</td><td th:text="${arg.premise}"></td></tr>
          <tr><td th:text="#{warrant}">Warrant</td><td th:text="${arg.warrant}"></td></tr>
          <tr><td th:text="#{source}">Source</td><td th:text="${arg.source?.name}"></td></tr>
          <tr><td th:text="#{user}">User</td><td th:text="${arg.user?.name}"></td></tr>
          <tr><td th:text="#{evaluations}">Evaluations</td>
            <td>
              <table class="table table-condensed">

                <tr th:each="ev : ${arg.evaluations}">
                  <td th:text="#{intensity}">Intensity:</td>
                  <td th:text="${ev?.intensity}"></td>
                  <td th:text="#{status}">Status:</td>
                  <td th:text="${ev?.verification_status}"></td>
                  <td><a th:href="@{/cases/__${case.id}__/arguments/__${arg.id}__/evaluations/__${ev.id}__/delete}" class="btn btn-danger" th:text="#{delete}">Delete</a></td>
                </tr>
              </table>
            </td></tr>
        </table>
       <a th:href="@{__${case.id}__/arguments/__${arg.id}__/edit}" class="btn btn-primary" th:text="#{edit}">Edit</a>
          <button th:if="${arg.isEvaluated()}" class="btn btn-primary" disabled th:text="#{alreadyEvaluated}">Already evaluated</button>
          <a th:if="${!arg.isEvaluated()}" th:href="@{__${case.id}__/arguments/__${arg.id}__/evaluations/new}" class="btn btn-primary" th:text="#{newEvaluation}">New evaluation</a>
      <a th:href="@{__${case.id}__/arguments/__${arg.id}__/rebutting/new}" class="btn btn-primary">Rebutting</a><div class="tooltip2">&nbsp;?<span class="tooltiptext">Vyvrácení (rebutting) je označení útoku, který je veden na predikát (závěr). Rebutting is the name of an attack that is directed at a predicate (conclusion).</span></div>
      <a th:href="@{__${case.id}__/arguments/__${arg.id}__/undercutting/new}" class="btn btn-primary" disabled="true">Undercutting</a><div class="tooltip2">&nbsp;?<span class="tooltiptext">Odříznutí (undercutting) je označení útoku, který je veden na vazbu (inference) mezi premisou a závěrem. Undercutting is the name of an attack that is conducted on the link (inference) between the premise and the conclusion.</span></div>
      <a th:href="@{__${case.id}__/arguments/__${arg.id}__/undermining/new}" class="btn btn-primary">Undermining</a><div class="tooltip2">&nbsp;?<span class="tooltiptext">Podkopání (undermining) je označení útoku, který je veden na premisu. Undermining is the name of an attack that is conducted on a premise.</span></div>

          <table class="table">
            <tr th:each="attack : ${arg.attacks}">
              <table class="table">
                <tr>
              <td><img src="../static/resources/images/arrow.svg" th:src="@{/resources/images/arrow.svg}" width="50px" alt="<-"/></td>
              <td th:text="${attack.predicate}"></td>
              <td th:text="#{because}"></td>
              <td th:text="${attack.premise}"></td>
              <td th:text="${attack.user?.name}"></td>

              <td><a th:href="@{__${case.id}__/arguments/__${attack.id}__/edit}" class="btn btn-primary" th:text="#{edit}">Edit</a></td>
              <td><a th:href="@{__${case.id}__/arguments/__${attack.id}__/rebutting/new}" class="btn btn-primary">Rebutting</a></td>
              <td><a th:href="@{__${case.id}__/arguments/__${attack.id}__/undercutting/new}" class="btn btn-primary" disabled="true">Undercutting</a></td>
              <td><a th:href="@{__${case.id}__/arguments/__${attack.id}__/undermining/new}" class="btn btn-primary">Undermining</a></td>
                </tr>
                <tr>
                  <table th:if="${attack.getAttacks().size() > 1}" class="table">
                    <tr th:each="att2 : ${attack.attacks}">
                      <td th:text="${att2.predicate}"></td>
                      <td th:text="#{because}"></td>
                      <td th:text="${att2.premise}"></td>
                      <td th:text="${att2.user?.name}"></td>
                    </tr>
                  </table>
                </tr>
              </table>
              
            </tr>

          </table>
        </td>
      </tr>
  
    </table>
    <script>
    // Function to hide the success and error messages after 3 seconds
    function hideMessages() {
        setTimeout(function() {
            document.getElementById("success-message").style.display = "none";
            document.getElementById("error-message").style.display = "none";
        }, 3000); // 3000 milliseconds (3 seconds)
    }

    // Call the function to hide messages
    hideMessages();
</script>

  </body>


</html>
