<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>
    <th:block th:if="${attack['new']}">New </th:block>
    attack
  </h2>

  <b>Argument</b>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Predicate</th>
        <th>Premise</th>
        <th>Identificator</th>
      </tr>
    </thead>
    <tr>
      <td th:text="${argument.predicate}"></td>
      <td><span th:text="${argument.premise}"></span></td>
      <td
        th:text="${case?.name}"></td>
    </tr>
  </table>

  <form th:object="${attack}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">

      <input
        th:replace="~{fragments/inputField :: input ('Predicate', 'predicate', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Premise', 'premise', 'text')}" />
    </div>

    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
<!--        <input type="hidden" name="argumentId" th:value="${argument.id}" />-->
<!--        <input type="hidden" name="caseId" th:value="${case.id}" />-->
        <button class="btn btn-primary" type="submit">Add attack</button>

        <!--<p th:text="#{notFound}"></p>-->
      </div>
    </div>
  </form>

  <br />
  <b>Past attacks</b>
  <table class="table table-striped">
    <tr>

      <th>Premise</th>
      <th></th>
      <th>Predicate</th>
    </tr>
    <tr th:if="${!attack['new']}" th:each="attack : ${argument.attacks}">
      <!--<td th:text="${#temporals.format(attack.date, 'yyyy-MM-dd')}"></td>-->
      <td th:text=" ${attack.premise}"></td>
      <td>, protože </td>
      <td th:text=" ${attack.predicate}"></td>
    </tr>
  </table>

</body>
</html>
